@model IEnumerable<BusDBWebApplication.DataBase.Tickets>

@{
    ViewBag.Title = "Билеты";
}


<p>
    @Html.ActionLink("Добавить", "Create", null, new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Номер рейса")
        </th>
        <th>
            @Html.DisplayName("Пассажир")
        </th>
        <th>
            @Html.DisplayName("Дата приобретения")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Services.service_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passengers.information)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchase_date)
        </td>
        <td>
            @Html.ActionLink("Подробнее", "Details", new { ticket_id = item.ticket_id, service_id = item.service_id, route_id = item.Services.route_id, from = item.Services.from, where = item.Services.where, passenger_id = item.passenger_id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Удалить", "Delete", new { ticket_id = item.ticket_id, service_id = item.service_id, route_id = item.Services.route_id, from = item.Services.from, where = item.Services.where, passenger_id = item.passenger_id }, new { @class = "btn btn-default" })</td>
    </tr>
}

</table>
