@model BusDBWebApplication.DataBase.Services

@{
    ViewBag.Title = "Подробнее о рейсе";
}



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Номер рейса")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_number)
        </dd>

        <dt>
            @Html.DisplayName("Маршрут")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Routes.FromWhence.title) - @Html.DisplayFor(model => model.Routes.WhereAbouts.title)
        </dd>

        <dt>
            @Html.DisplayName("Время отправления")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departure_time)
        </dd>

        <dt>
            @Html.DisplayName("Время прибытия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_time)

        </dd>

    </dl>
</div>
<hr/>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Номер автобуса")
            </th>
            <th>
                @Html.DisplayName("Марка")
            </th>
            <th>
                @Html.DisplayName("Количество мест")
            </th>

        </tr>

        @foreach (var item in Model.Buses) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.bus_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.number_of_seats)
                </td>
            </tr>
            }
        </table>
    </div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { service_id = Model.service_id, route_id = Model.Routes.route_id, from = Model.Routes.from, where = Model.Routes.where }, new {@class = "btn btn-default" }) 
    @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-primary" })
</p>
