@model BusDBWebApplication.DataBase.Services

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Services</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.service_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departure_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departure_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrival_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Routes.route_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Routes.route_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
