@model IEnumerable<BusDBWebApplication.DataBase.Services>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.service_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departure_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrival_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Routes.route_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.service_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departure_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrival_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Routes.route_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
