@model IEnumerable<BusDBWebApplication.DataBase.Services>

@{
    ViewBag.Title = "Рейсы";
}

<p>
    @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Номер рейса")
        </th>
        <th>
            @Html.DisplayName("Маршрут")
        </th>
        <th>
            @Html.DisplayName("Время отправления")
        </th>
        <th>
            @Html.DisplayName("Время прибытия")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.service_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Routes.FromWhence.title) -@Html.DisplayFor(modelItem => item.Routes.WhereAbouts.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departure_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrival_time)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { service_id = item.service_id, route_id = item.Routes.route_id, from = item.Routes.from, where = item.Routes.where }, new { @class = "btn btn-default" })
            @Html.ActionLink("Подробнее", "Details", new { service_id = item.service_id, route_id = item.Routes.route_id, from = item.Routes.from, where = item.Routes.where }, new { @class = "btn btn-default" })
            @Html.ActionLink("Удалить", "Delete", new { service_id = item.service_id, route_id = item.Routes.route_id, from = item.Routes.from, where = item.Routes.where }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
